.container-fluid {
  background-color: darkgrey;
  color: #f0f8f0 !important;
}

nav {
  padding: 1% 1% 1% 0;
  background-color: #474a45;
}

li {
  font-size: 1.5em;
}

a {
  color: green !important;
}

a:hover {
  color: #62cc31 !important;
}

div.card-body {
  background-color: #474a45;
}

div.card-body img {
  width: 100%;
  height: 100%;
}

.card {
  background-color: #474a45 !important;
}

.col-md-6 {
  padding: 10px !important;
}

h5.card-header {
  background-color: #474a45;
}

div.card-footer {
  background-color: #474a45;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}
